
<footer class="footer border-top pb-5">
  <div class="container">
    <div class="row">
        <p class="h3 py-5">{{ site.title | escape }}</h2>
    </div>
    <div class="row">
        <div class="col-sm">

            <ul class="list-inline">
                <li class="list-inline-item text-secondary">
                  {%- if site.author -%}
                    {{ site.author | escape }}
                  {%- else -%}
                    {{ site.title | escape }}
                  {%- endif -%}
                  </li>
                  {%- if site.email -%}
                  <li><a class="list-inline-item" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                  {%- endif -%}
              </ul>
                  
        </div>

        <div class="col-sm">
            {%- include social.html -%}
        </div>

        <div class="col-sm">
            <p>{{- site.description | escape -}}</p>
        </div>

    </div>  
  </div>
</footer>