---
---

@import "bootstrap.scss";

/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.social-icon {
  width: 16px;
  padding-right: 5px;
}

/* Change blue to gray on title links
-------------------------------------------------- */
a.navbar-brand {
  color: grey;  
}

a.nav-link {
  color: black;  
}

span.post-date {
  color: gray;
}