---
---

@import "bootstrap.scss";

/* Sticky footer styles
-------------------------------------------------- */
html {
}

body {
  /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
