<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

      {%- include header.html -%}    
  
      <!-- Page Content -->
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            {{ content }}
          </div>
        </div>
      </div>
  
      {%- include footer.html -%}
      
	<script src="{{'/assets/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/assets/popper.js/dist/umd/popper.min.js' | prepend: site.baseurl}}"></script>
	<script src="{{'/assets/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>	
  </body>

</html>
